# Email Configuration (IMAP)
IMAP_HOST=imap.gmail.com
IMAP_PORT=993
EMAIL_USER=
EMAIL_PASSWORD=""

# Email Configuration (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true

# Server Configuration
PORT=3000
NODE_ENV=development

# Draft Folder Name (where to save drafts)
DRAFT_FOLDER=[Gmail]/Черновики
